# ignore the results directory
python_implem/results/
python_implem/output.csv
python_implem/python/worldcities_10k_primary.json
python_implem/python/worldcities_10k_ttop10.json
python_implem/output.csv
